.game-board {
  background-color: teal;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
}

.game-board h1 {
  margin: 20px;
}

.board {
  height: 300px;
  max-height: 300px;
}

.status {
  color: white;
  font-size: 22px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.restart{
    background-color: #5b777f;
    border: none;
    width: 150px;
    height: 80px;
    color: aliceblue;
    font-size: 24px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 5%;
    margin-left: 50%;
}

.restart:hover{
    background-color: #1a4652;
}
