*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.welcome{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin:  0 auto;
    padding: 100px 0;
}

.welcome img{
    width: 50%;
}

.welcome button{
    background-color: #5b777f;
    border: none;
    width: 150px;
    height: 80px;
    color: aliceblue;
    font-size: 24px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 5%;
}

.welcome button:hover{
    background-color: #1a4652;
}
